# Dependencies
node_modules

# Build output
dist
dist-ssr
*.tsbuildinfo

# Turborepo
.turbo

# Env
.env
.env.*
!.env.example
*.local

# Generated
apps/web/src/routeTree.gen.ts
apps/web/.tanstack
apps/api/src/generated

# Logs
logs
*.log

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
