NODE_ENV=development
PORT=8000
DATABASE_URL=
DIRECT_URL=
JWT_SECRET=
TOKEN_HASH_SECRET=
RESEND_API_KEY=
MAIL_FROM=
TURNSTILE_SECRET_KEY=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
CRON_SECRET=
